button-colorbox button {
  white-space: nowrap;
  margin:0;
  padding: 0 .5rem 0 0;
  border: none;
	height: auto;
	min-height: 2rem;
}
button-colorbox button span {
	line-height: 1.5;
	display: block;
	text-align: left;
}
button-colorbox button span em {
	font-weight: 600;
}
button-colorbox button small {
	display: block;
	font-size: .8rem;
	line-height: 1.2;
	position: relative;
	top: -.17rem;
	font-style: italic;
}
button-colorbox svg.icon {
  width: 1.75rem;
  height: 1.2rem;
	margin-right: .4rem;
}

.color-box {
	width: 1.5rem;
	height: 1.5rem;
	background: red;
	border-radius: .4rem;
	margin: 0 .5rem;
	border: medium solid #0007;
	box-shadow: .1rem .1rem .18rem #0003;
}