
super-selector {
	display: block;
	min-width: 11rem;
	position: relative;
	z-index: 1;
	text-align: left;
	
}
super-selector.open {
	filter: drop-shadow(0 .33rem .4rem #0005);
}
super-selector header {
	background: var(--blue);
	color: #fffe;
	
	height: 2rem;
}
super-selector header .label {
	flex-grow: 1;
	margin: 0 .5ch;
	padding: 0 1ch;
	border: 1px solid #fff6;
	background: #FFF2;
	outline: 0;
}
super-selector[read-only] {
	min-width: 6rem;
}
super-selector[read-only] header .label {
	border: none;
	background: #FFF1;
	margin: 0;
	height: 100%;
	display: flex;
	align-items: center;
}


super-selector header .label:focus {
	background: #0002;
}
super-selector header .toggle {
	background: #fff3;
	width: 2rem;
	height: 100%;
	margin-left: auto;
}
super-selector .toggle svg {
	height: .8rem;
	margin-bottom: .1rem;
	
	fill: #fffc;
}
super-selector.open .toggle svg {
	transform: rotate(180deg);
	margin-bottom: 0;
	margin-top: .1rem;
	
}
super-selector .toggle:hover {
	background: #ffffff3c;
}
super-selector .toggle:hover svg {
	opacity: 1;
}

super-selector .items {
	visibility: hidden;
	
	color: #000;
	height: 0;
}
super-selector.open .items {
	visibility: visible;
}

super-selector .items ul {
	margin: 0;
	background: #eee;
	padding: 0;
}
super-selector .items ul li {
	display: flex;
	align-items: stretch;
	white-space: nowrap;
}
super-selector .items ul li span {
	display: flex;
	align-items: center;
	height: 1.75rem;
	background: #f2f2f2;
	border-bottom: thin solid #e3e3e3;
	border-top: thin solid #fff;
}
super-selector .items ul li span.name {
	padding: 0 3rem 0 1.5ch;
	flex-grow: 1;
}
super-selector .items ul li span.delete {
	width: 2rem;
	align-items: center;
	justify-content: center;
	color: #bbb;
	font-size: 1.25em;
	/* line-height: 1; */
	/* padding-bottom: .1rem; */
	background: #efecec;
}
super-selector .items ul li:hover span.delete {
	background: #fcfcfc;
}
super-selector .items ul li span.name:hover {
	/* background: #f8f8f8; */
	background: hsl(217, 100%, 58%);
	color: #fffe
}
super-selector .items ul li span.delete:hover {
	background: hsl(0, 100%, 58%);
	color: #fffe;
}
super-selector footer {
	padding: .75rem 0 .5rem;
	background: linear-gradient(#dfdfdf, #eee 33%);
	border-radius: 0 0 1rem 1rem;
	border: .12rem solid #ddd;
}
super-selector button.add {
	line-height: 1;
	/* padding: .35em; */
}


