/* autour-one-regular - latin */
@font-face {
  font-family: 'Autour One';
  font-style: normal;
  font-weight: 400;
  src:url('/vision-stage-resources/fonts/autour-one-v10-latin-regular.woff2') format('woff2');
	font-display: block;
}
/* simonetta-900 - latin */
@font-face {
  font-family: 'Simonetta';
  font-style: normal;
  font-weight: 900;
  src: url('/vision-stage-resources/fonts/simonetta-v11-latin-900.woff2') format('woff2'); 
}
/* simonetta-900italic - latin */
@font-face {
  font-family: 'Simonetta';
  font-style: italic;
  font-weight: 900;
  src: url('/vision-stage-resources/fonts/simonetta-v11-latin-900italic.woff2') format('woff2');
}

html {
	--scrollbar-color: #FFF3;
	--scrollbar-thumb-color: #FFF7;

	--color-base: hsl(160, 100%, 88%);
	--color-base2: hsl(159, 100%, 83%);
	--color-base2-faded: hsla(160, 93%, 79%, .8);
	--color-highlight: hsl(160, 100%, 88%);


	--soft: hsl(214, 22%, 41%);
	--soft-dark: hsl(260, 6%, 25%);
	--soft-darker: hsl(260, 11%, 22%);
	--soft-darkest: hsl(260, 9%, 15%);
	--primary-dark: hsl(266, 88%, 40%);
	--primary-darker: hsl(260, 66%, 41%);
	--primary-darker-faded: hsla(260, 36%, 61%, 1);
}
body {
	background: hsl(245, 18%, 29%);
}

img.layout {
	height: 100%;
	opacity: .25;
	outline: 1px #fff;
	display: block;
	margin: auto;
	left: auto;
}

.app {
	--floor: 56%;
	color: var(--color-base);
	font-family: Asap Condensed, sans-serif;
	background-color:  hsl(266, 88%, 40%);
	background-image: 
		linear-gradient( to bottom,
			rgba(0,0,0,0), 
			rgba(0,0,0,0) var(--floor), 
			rgba(0,0,0,0.07) calc(var(--floor) + 1.5rem), 
			rgba(0,0,0,0) 70%,
			hsla(298, 69%, 90%, 0.12)), 
		radial-gradient( circle farthest-side, 
			hsla(0, 0%, 82%, 0.11), 
			hsla(0, 0%, 75%, 0.08) 60%, 
			hsla(0, 0%, 69%, 0));
	padding-top: 3.7rem;
}

a, button.bare {
	color: var(--color-base);
}
button.bare {
	border: 1px solid;
	padding: 0 1ch;
	border-radius: .5rem;
	flex-shrink: 0;
}
button.bare.inline {
	height: 1.33em;
	margin: 0 .25ch;
	padding: 0 .5ch;
	border-radius: .33rem;
}
a:hover, button.bare:hover {
	color: var(--color-base2);
}

#main-footer {
	height: 4rem;
	width: 100%;
	flex-shrink: 0;
	text-align: center;
	margin-top: auto;
}

img#logo {
	display: block;
	height: 11rem;
	position: absolute;
	transform: translateX(-3.8rem);
	/* mix-blend-mode: screen; /** more details */
	mix-blend-mode: lighten; 
	transition: opacity 1s .5s ease; /** prevent flash of unstyled content...*/
	}
	.app.faded > header img {
		opacity: 0;
	}
	/*
	img#logo:hover {
		mix-blend-mode: lighten; 
	}*/

h1#title {
	mix-blend-mode: luminosity;
	opacity: .5;
	/* background: #0f0; */
	font: 2.7rem/1.33 Gro Bold, Autour One, sans-serif;
	letter-spacing: .25rem;;
	text-transform: uppercase;
	margin: .5rem 0 7.6rem;
	position: relative;
	text-shadow: -.1rem -.15rem .4rem #0004;
	/* -webkit-text-stroke: 1.5px #a0822998; */
}
h1#title span {
	color: var(--color-highlight);
}

#tagline {
	font: 900 italic 2rem/1.5 Simonetta, sans-serif;
	text-align: center;
	/* background: #000; */
	
}
#tagline p {
	margin: 0;
}
#tagline p:last-child {
	font-size: 1.5rem;
	/* opacity: .76; */
	/* animation: slow-blink 1.6s infinite alternate; */
	position: relative;
	/* color: var(--color-base2-faded); */
}
#tagline .icon {
	font-style: normal;
}

span.highlight {
	/* color: hsl(303, 100%, 79%); */
	/* color: var(--color-highlight); */
	color: var(--color-base2);
	text-shadow: 
		0 0 .75rem #fff8,
		/* 0 0 .25rem #fff3, */
		0 0 .2rem #fff9;
}

.no-nothing {
	/* font-size: 1.1rem; */
	font-family: Simonetta;
	margin: 3.6rem 0 .5rem;
	/* font-style: italic; */
	color: hsl(263deg, 100%, 77%);
}
.simple {
	margin: 0;
	font-family: Simonetta;
	/* font-style: italic; */
	font-size: 1.1rem;
	color: hsl(263, 100%, 82%);
	/* color: var(--color-base); */
}

@keyframes slow-blink {
	0% {
		opacity: .76;
	}
	50% {
		opacity: .76;
		animation-timing-function: ease-in;
	}
	100% {
		opacity: .95;
		animation-timing-function: ease;
	}
}

@media (min-aspect-ratio: 6/5) { /** landscape */

}
@media (max-aspect-ratio: 6/5){ /** matches the threshold in aspect-ratios */

}

