.menu-auth {
	text-align: center;
}

/**!! BLOCK MAIN IF NOT AUTHENTICATED */
.app:not(.auth):not([no-auth]) > main { 
	pointer-events: none !important;
}

button.signout {
	position: relative;
	padding:0 !important;
}
button.signout::after {
	/* content: '×'; */
	position: absolute;
	color: #f00;
	font-size: 1.5em;
	top: .1em;
	left: .1em;
	line-height: .5;
	/* background: #0006;
	height: .2rem;
	width: 100%;
	transform: rotate(35deg); */
}
button.signout .person {
	height: 1.125em;
	width: auto;
	left: .2em;
	/* top: .1em; */
	bottom: .25em;
}
button.signout .exit {
	width: auto;
	/* height: .9em; */
	/* right: 0;
	top: .3em */
	margin-left: .125em;
	margin-top: .1em;
	height: 1.25em;
}

.menu-auth button[disabled] {
	opacity: .6;
}
.menu-auth button[disabled] svg {
	opacity: .6;
}

#identifier {
	font-family: Roboto Condensed, Roboto, sans-serif;;
	padding:0;
	line-height: 1.25;
	/* padding-top: 1em; */
	/* align-self: center; */
	/* padding-bottom: .25em; */
	overflow-wrap: break-word;
	width: 100%;
	
}
#identifier small {
	font-size: .85em;
	/* opacity: .75; */
	font-family: monospace, sans-serif;
	position: absolute;
	/* width: 100%; */
	background: #edffe7;
	color: #000;
	/* left: 0; */
	bottom: -1.66em;
	padding: .2em 1em;
	display: none;

}
#identifier.unverified small {
	background: #ffbb00aa;
	color: #000e;
	display: inline;
}

.menu-auth .menu-body h2 {
	margin: 0;
	font-size: 1.3em;
	line-height: 1.5;
	font-family: Jost, Roboto, sans-serif;
	text-transform: uppercase;
}
.menu-auth button-waiting {
	margin: .5em 0 1em;
	min-width: 7em;
	font-weight: bold;
}

.app[opened-menu='auth'] #access-level-label {
	display: block;
}
#access-level-label {
	display: none;
	font-size: .5em;
  line-height: 1.2;
  text-transform: uppercase;
	padding: .1em .2em 0;
	color: #fff;
}

#toggle-menu-auth {
	visibility: visible; /** hidden by default when not using auth */
}
.hide-empty:empty,
#toggle-menu-auth .access-level-label:empty { display: none }
#toggle-menu-auth > div {
  position: absolute;
  top: 110%;
}
#toggle-menu-auth .subscriptions-label,
#toggle-menu-auth .access-level-label {
  min-width: 100%;
  padding: .15rem .5ch .1rem;
  line-height: 1;
  font-family: Roboto;
  font-size: .6rem;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

#toggle-menu-auth .subscriptions-label,
#toggle-menu-auth .access-level-label {
  background: hsla(44, 100%, 94%,.75);
  background-clip: padding-box;
  border: medium dotted hsl(44, 100%, 74%);
  color: #555;
}
#toggle-menu-auth .subscriptions-label {
  display: none; /* only show if app-requires='subscribed' */
  bottom: -3.1rem;
  line-height: 1.25;
}
#toggle-menu-auth .subscriptions-label:empty,
#toggle-menu-auth .access-level-label:empty {
  display: none;
}
#toggle-menu-auth .subscriptions-label > div {
  font-size: .5rem;
  color: #555;
  line-height: 1.25;
  font-weight: normal;
}

.menu-auth label {
	line-height: 1;
}
.menu-auth .input {
	margin-top: 1.5em;
}
.menu-auth div.input {
	position: relative;
}
.menu-auth .input input {
	color: inherit;
	font-size: inherit;
	line-height: 1.75;
	display: block;
	width: 100%;
	margin:0;
	text-align: left;
	padding: 0 1ch 0 4.5ch;
	/* overflow: hidden; */
}
.menu-auth .input div.icon {
	background: #8799b633;
	border-right: 1px solid #8799b622;
	border-left: 1px solid transparent;
	/* box-shadow: 1px 0 4px #e1e9f8; */
}
.input svg {
	fill: #8799b6;
}
.input.email svg  {
	height: 1.5em;
}
.input.code .icon svg,
.input.password .icon svg {
	height: .94em;
	margin-bottom:.07em;
}
#btn-show-password {
	height: 1.23em;
	position: absolute;
	right: 0;
	padding: 0;
}

.menu-auth .menu-body > section.main {
	flex-grow:1;
	color: var(--primary-darker);
	/* font-size: .85em; */
}
.menu-auth .menu-body > section.main header {
	margin: 3em 0 0;
	z-index: 0;
}
form.signin, form.signup {
	/* margin: auto; */
	/* margin: 2.5em 0 1em; */
	padding: 1.5em 1em .5em;
	flex-grow: 1;
	/* border: 2px dotted var(--primary-darker);
	border-top: none; */
	background: #d5dce6;
	background: url(/vision-stage-resources/images/textures/paper-opaque-8bit.png) #d5dce6;
	background-blend-mode: luminosity;
	/* background: #beccdb; */
	/* background: #b8cde6; */
	/* border-radius: .22em; */
	/* background: linear-gradient(#f5f5f5, #f3f3f3); */
	margin: 0 .5em 1em;
	box-shadow: .06em .25em .3em  #cbd0d4, inset .05em .05em 0 .05em #fff4, inset -.06em -.06em .03em .03em #00000007;

	position: relative;

}
form.signin label:last-of-type input {
	padding-right: 2.5em;
}

#btn-forgot-password {
	margin: auto 0 .5em;
	align-self: center;
}
#auth-message:empty {
	visibility: hidden;
}
#auth-message {
	font-weight: bold;
	color: #000c;
	/* visibility: hidden; */
	/* width: 17em; */
	height: 4em;
	background: rgb(255, 237, 75);
	
	/* background: #ffe44d; */
	/* color: white; */
	margin: 0;
	padding: .5ch 1ch;
	border-radius: .22em .22em 0 0;
	border: 3px solid rgb(252, 255, 81);
}
#btn-ok {

	margin: 2em auto;
}
#btn-ok svg {
	position: relative;
	left: .06em;
}

header > h2 + button.small {
	bottom: -1em;
}
header > h2 + button.small.signup {
	background:  #92ff92;
	border-color: rgb(148, 230, 148);
	color: black;
	text-transform: uppercase;
	border-width: .17rem;
}
header > h2 + button.small.signup:hover {
	background-color: #75ff75 !important;
}
.go-arrow {
	color: #0009;
	margin-left: .33em;
	height: 1.25em;
}
#unverified-user h2 {
	font-size: 1.25em;
	line-height: 1.33;
}
#unverified-user {
	font-size: .9em;
	line-height: 1.33;
}
#unverified-user {
	/* margin-top: 2em; */
	
	font-weight: bold;
	background: #ffbb0077;
	color: #000e;
	padding: 2em 1em 0;
	margin: .5em;
}

form.student label {
	margin: 1rem;
}
.icon svg.person {
	height: 1.33rem;
}
.tab-group button.tab {
	padding-top: .12em;
	font-weight: bold;
}