vs-input-values {
	background: #eee;
	align-self: center;
}
vs-input-values > * {

}
vs-input-values .value {
	margin: .33rem;
	background: palegreen;
	padding: 0 .2rem;
	border: 2px solid #0003;
	border-radius: .4rem;
	font-weight: 700;
}
vs-input-values .value::before {
	content: '×';
	margin-right: .25rem;
	color: #9004;
	font-size: .95rem;
	position: relative;
	top: -.4rem;
	left: -.1rem;
}
vs-input-values input {
	font: inherit;
	font-weight: 700;
	padding-left: .5rem;
	margin: 0 .5rem;
	height: 1.6rem !important;
	line-height: 1;
}